{% include "admin/inc/layout.header.twig" %}

{% block padding %}
  <div class="padding"></div>
{% endblock %}

<div class="container-fluid">
  <div class="row">
    <!-- Left sided nav-bar -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- Moeglicherweise als jquery fuer Unterpunkte? -->
        <li {% if 0 == id %} class="active" {% endif %}>
          <a href="{{ path_for('admin.shop.list') }}">Alle Produkte
            <span class="sr-only">(current)</span>
          </a>
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        {{ category_html|raw }}
      </ul>

    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% include "inc/layout.flash.twig" %}

      {% block content %}{% endblock %}

      {% include "admin/inc/layout.footer.twig" %}
    </div>
  </div>
</div>
