/* Featherlight */

.test {
  width: 500px;
}

.modal-wide {
  min-width: 90%;
}

.modal-image {
  max-width: 50%;
}

.padding {
  margin: 80px;
}

@media all {
  .lightbox {
    display: none;
  }
  .fl-page h1, .fl-page h3, .fl-page h4 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .fl-page h1 {
    font-size: 110px;
    margin-bottom: 0.5em;
  }
  .fl-page h1 i {
    font-style: normal;
    color: #ddd;
  }
  .fl-page h1 span {
    font-size: 30px;
    color: #333;
  }
  .fl-page h3 {
    text-align: right;
  }
  .fl-page h3 {
    font-size: 15px;
  }
  .fl-page h4 {
    font-size: 2em;
  }
  .fl-page .jumbotron {
    margin-top: 2em;
  }
  .fl-page .doc {
    margin: 2em 0;
  }
  .fl-page .btn-download {
    float: right;
  }
  .fl-page .btn-default {
    vertical-align: bottom;
  }
  .fl-page .btn-lg span {
    font-size: 0.7em;
  }
  .fl-page .footer {
    margin-top: 3em;
    color: #aaa;
    font-size: 0.9em;
  }
  .fl-page .footer a {
    color: #999;
    text-decoration: none;
    margin-right: 0.75em;
  }
  .fl-page .github {
    margin: 2em 0;
  }
  .fl-page .github a {
    vertical-align: top;
  }
  .fl-page .marketing a {
    color: #999;
  }
  /* override default feather style... */
  .fixwidth {
    background: rgba(256, 256, 256, 0.8);
  }
  .fixwidth .featherlight-content {
    width: 800px;
    padding: 25px;
    color: #A00;
    background: #111;
  }
  .fixwidth .featherlight-close {
    color: #fff;
    background: #333;
  }
}

@media(max-width: 768px) {
  .fl-page h1 span {
    display: block;
  }
  .fl-page .btn-download {
    float: none;
    margin-bottom: 1em;
  }
}

.fixed-button-width {
  width: 150px;
}

#googleMap {
  width: 100%;
  /* Span the entire width */
  height: 500px;
  /* Set the height to 500 pixels */
  margin-top: 100px;
  /* Add some padding */
}


/*
 * Footer
 */

.footer {
  padding: 50px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer p:last-child {
  margin-bottom: 0;
}


/*
 * Guestbook form
 */

.form-guestbook {
  margin-top: 15px;
}

.form-guestbook .textarea {
  min-height: 220px;
  resize: none;
}

.form-guestbook .form-control {
  box-shadow: none;
  border-color: darkgrey;
  height: 49px;
}

.form-guestbook .form-control:focus {
  box-shadow: none;
  border-color: #00b09c;
}

.form-guestbook .main-btn {
  background: #00b09c;
  border-color: #00b09c;
  color: #fff;
  margin: 10px 0 10px 0;
}

.form-guestbook .main-btn:hover {
  background: #00a491;
  color: #fff;
}

.guestbook-header {
  margin: 0;
}


/*
 * Login form
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 *  Produkt div
 */

.product {
  background: rgb(233, 233, 233);
  position: relative;
  text-align: center;
}

.product>.product-item {
  border: 1px rgb(89, 89, 89) solid;
  -moz-box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  -webkit-box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  margin: 5px;
  height: 250px;
}

.product>.product-item>h3 {
  font-size: 16px;
}

.product>.product-item>.product-thumb {
  width: 100%;
  padding: 10px;
}

.product>.product-item>.product-thumb>.product-img-thumb {
  max-width: 100%;
  max-height: 200px;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sub {
  margin-left: 0px;
  padding-left: 10px;
}

.nav-sidebar>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  background: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

nav a:hover {
  opacity: 1;
  text-decoration: none;
  /*border-bottom: 6px solid #2d3339;*/
}

nav .selected {
  opacity: 1;
  /*border-bottom: 6px solid #53bbb4;*/
}

footer nav {
  float: right;
}

footer nav a {
  float: left;
  padding: 15px 0;
  margin-left: 40px;
  opacity: .7;
}

footer a {
  color: #53bbb4;
}


/*!
 * Start Bootstrap - Grayscale v3.3.7+1 (http://startbootstrap.com/template-overviews/grayscale)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

.content-section p {
  margin: 0 0 25px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .content-section p {
    margin: 0 0 35px;
    line-height: 1.6;
  }
}

a {
  color: #0000EE;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

a:hover, a:focus {
  text-decoration: none;
  color: #000077;
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  background: url(../images/onepage/test_bg.jpg) no-repeat bottom center scroll;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  -o-background-size: contain;
}

.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.btn-circle:hover, .btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}

.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}

.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}

.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: black;
}

.navbar-custom .navbar-toggle {
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
}

.site-divider {
  background-color: darkgrey;
  height: 1px;
  opacity: 0.7;
  margin: 10px 0 10px 0;
  text-align: center;
}

.site-divider-text {
  color: white;
  background-color: darkgrey;
  font-size: 12px;
  height: 20px;
  vertical-align: baseline;
  position: relative;
  display: block;
  text-align: center;
}


/*Anpassung der Schriftgroesse, wenn navbar nicht mehr eine Zeile ist (nur von links)*/

@media (max-width: 1300px) {
  .navbar-custom {
    font-size: 14px;
  }
}

@media (max-width: 1000px) {
  .navbar-custom {
    font-size: 9px;
  }
}

.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:active {
  outline: none;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}

.navbar-custom .navbar-brand:focus {
  outline: none;
}

.navbar-custom a {
  color: white;
}

.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}

.navbar-custom .nav li.active {
  outline: none;
}

.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

.navbar-custom .nav li.active a:hover {
  color: white;
}

@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: black;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.content-section {
  padding-top: 100px;
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-font {
  font-family: "Lora", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.content-section p {
  text-align: justify;
}

#logo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 100px 100px;
}

figure {
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  display: table;
  width: 400px;
  border: 1px;
  border-style: solid;
  border-color: lightgrey;
}

figure img {
  width: 100%;
  height: 100%;
  display: table-row;
}

figure figcaption {
  display: table-row;
  font-size: 90%;
  background-color: #efefef;
  text-align: justify;
}

@media(max-width: 768px) {
  figure {
    width: 100%;
  }
}


/*Text Editor*/


/* this CSS is not part of the widget, it is here just as an example of the demo page styling.... Don't copy this one, roll your own. One
 * of the key things about the widget is that it allows you to do your own styling!
 */

#editor {
  max-height: 250px;
  height: 250px;
  background-color: white;
  border-collapse: separate;
  border: 1px solid rgb(204, 204, 204);
  padding: 4px;
  box-sizing: content-box;
  -webkit-box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  box-shadow: rgba(0, 0, 0, 0.0745098) 0px 1px 1px 0px inset;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  overflow: scroll;
  outline: none;
}

#voiceBtn {
  width: 20px;
  color: transparent;
  background-color: transparent;
  transform: scale(2.0, 2.0);
  -webkit-transform: scale(2.0, 2.0);
  -moz-transform: scale(2.0, 2.0);
  border: transparent;
  cursor: pointer;
  box-shadow: none;
  -webkit-box-shadow: none;
}

div[data-role="editor-toolbar"] {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-menu a {
  cursor: pointer;
}
