/* Featherlight */

@media all {
  .lightbox {
    display: none;
  }
  .fl-page h1, .fl-page h3, .fl-page h4 {
    font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
  }
  .fl-page h1 {
    font-size: 110px;
    margin-bottom: 0.5em;
  }
  .fl-page h1 i {
    font-style: normal;
    color: #ddd;
  }
  .fl-page h1 span {
    font-size: 30px;
    color: #333;
  }
  .fl-page h3 {
    text-align: right;
  }
  .fl-page h3 {
    font-size: 15px;
  }
  .fl-page h4 {
    font-size: 2em;
  }
  .fl-page .jumbotron {
    margin-top: 2em;
  }
  .fl-page .doc {
    margin: 2em 0;
  }
  .fl-page .btn-download {
    float: right;
  }
  .fl-page .btn-default {
    vertical-align: bottom;
  }
  .fl-page .btn-lg span {
    font-size: 0.7em;
  }
  .fl-page .footer {
    margin-top: 3em;
    color: #aaa;
    font-size: 0.9em;
  }
  .fl-page .footer a {
    color: #999;
    text-decoration: none;
    margin-right: 0.75em;
  }
  .fl-page .github {
    margin: 2em 0;
  }
  .fl-page .github a {
    vertical-align: top;
  }
  .fl-page .marketing a {
    color: #999;
  }
  /* override default feather style... */
  .fixwidth {
    background: rgba(256, 256, 256, 0.8);
  }
  .fixwidth .featherlight-content {
    width: 800px;
    padding: 25px;
    color: #fff;
    background: #111;
  }
  .fixwidth .featherlight-close {
    color: #fff;
    background: #333;
  }
}

@media(max-width: 768px) {
  .fl-page h1 span {
    display: block;
  }
  .fl-page .btn-download {
    float: none;
    margin-bottom: 1em;
  }
}


/*Truncate description*/


/* http://hackingui.com/front-end/a-pure-css-solution-for-multiline-text-truncation/ */


/* styles for '...' */

.block-with-text {
  /* hide text if it more than N lines  */
  overflow: hidden;
  /* for set '...' in absolute position */
  position: relative;
  /* use this value to count block height */
  line-height: 1.2em;
  /* max-height = line-height (1.2) * lines max number (3) */
  max-height: 3.6em;
  /* fix problem when last visible word doesn't adjoin right side  */
  text-align: justify;
  /* place for '...' */
  margin-right: -1em;
  padding-right: 1em;
}


/* create the ... */

.block-with-text:before {
  /* points in the end */
  content: '...';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of block */
  right: 0;
  bottom: 0;
}


/* hide ... if we have text, which is less than or equal to max lines */

.block-with-text:after {
  /* points in the end */
  content: '';
  /* absolute position */
  position: absolute;
  /* set position to right bottom corner of text */
  right: 0;
  /* set width and height */
  width: 1em;
  height: 1em;
  margin-top: 0.2em;
  /* bg color = bg color under block */
  background: white;
}

.fixed-button-width {
  width: 150px;
}

#googleMap {
  width: 100%;
  /* Span the entire width */
  height: 500px;
  /* Set the height to 500 pixels */
}


/*
 * Footer
 */

.footer {
  padding: 50px 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
}

.footer p:last-child {
  margin-bottom: 0;
}


/*
 * Login form
 */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .form-signin-heading, .form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 *  Produkt div
 */

.product {
  background: rgb(233, 233, 233);
}

.product>.product-item {
  border: 1px rgb(89, 89, 89) solid;
  -moz-box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  -webkit-box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  box-shadow: 1px 1px 0px 2px rgb(199, 199, 199);
  margin: 5px;
  height: 250px;
}

.product>.product-item>.product-thumb {
  width: 100px;
  height: 100px;
}

.product>.product-item>.product-thumb>.product-img-thumb {
  max-height: 100px;
  max-width: 100px;
}

.product>.product-item>.product-desc {
  margin: 5px 10px 5px 5px;
}


/*
 * Sidebar
 */


/* Hide for mobile, show later */

.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 60px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


/* Sidebar navigation */

.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar>li>a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
  color: #fff;
  background-color: #428bca;
}

body {
  background: #fdfdfd;
  font-family: 'Roboto', sans-serif;
}

header nav {
  font-size: 16px;
}

header nav a {
  margin: 0px 20px;
  color: #fff;
  padding: 0 10px;
  opacity: .7;
  line-height: 80px;
  height: 80px;
  display: inline-block;
}

nav a:hover {
  opacity: 1;
  text-decoration: none;
  border-bottom: 6px solid #2d3339;
}

nav .selected {
  opacity: 1;
  border-bottom: 6px solid #53bbb4;
}

footer nav {
  float: right;
}

footer nav a {
  float: left;
  padding: 15px 0;
  margin-left: 40px;
  opacity: .7;
}

footer a {
  color: #53bbb4;
}
