{% extends 'inc/layout.main.twig' %}

{% block content %}
  <div class="container content-font">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Über uns und unsere Produkte</h1>
        <div class="site-divider"></div>
        <p>Wir sind toll :)</p>
        <img src="../images/fix/dancing_jesus.gif" alt="Jesus take the dancefloor!" height="486" width="280">
      </div>
    </div>
  </div>
{% endblock %}
