{% extends 'inc/layout.main.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Über uns</h1>
        <div class="site-divider"></div>
        <div class"content-section text-center">
          <p>Das Theodor-Sch&auml;fer Berufsbildungswerk (TSBW) wurde bereits im Jahre 1965 gegr&uuml;ndet und ist nach dem Theologen Theodor Sch&auml;fer benannt. Der Tr&auml;ger ist das Diakonie-Hilfswerk Schleswig-Holstein, in der Gruppe Norddeutsche
            Gesellschaft f&uuml;r Diakonie, mit ihrem Sitz in Rendsburg. Das TSBW bietet Menschen mit unterschiedlichen Behinderungen die M&ouml;glichkeit einer Ausbildung in z.Zt. 66 verschiedenen anerkannten Ausbildungsberufen an. Neben der Ausbildung bietet
            das TSBW seinen Teilnehmern zus&auml;tzlich Unterst&uuml;tzung und langj&auml;hrige Erfahrung in den Bereichen Berufsvorbereitung, Rehabilitation und Arbeitsmarkt. Das Gesamtangebot richtet sich an Teilnehmende mit k&ouml;rperlichen
            Beeintr&auml;chtigungen, psychischen Beeintr&auml;chtigungen oder auch mit H&ouml;rbeeintr&auml;chtigungen. Alle Ausbildungsst&auml;tten des TSBW, sowie das gesamte Gel&auml;nde sind barrierefrei. Dem Abbau von Barrieren weist die UN-BRK von 2009 in
            Artikel 9 eine ganz besondere Bedeutung zu. Die Barrieren k&ouml;nnen sehr unterschiedlich sein. Die Barriere des uneingeschr&auml;nkten Zugangs f&uuml;r Rollstuhlfahrer ist im TSBW ebenso gegeben wie es Geb&auml;rdendolmetscher f&uuml;r
            geh&ouml;rlose Teilnehmer gibt oder andere spezielle Hilfsmittel bzw. Ausstattungen, je nach Behinderung. Auch Vorurteile oder Vorbehalte von Menschen ohne Behinderung k&ouml;nnen Menschen mit Behinderung an der gleichberechtigten Teilhabe hindern.
            Im Sinne der UN-BRK stellen sie somit ebenfalls Barrieren dar. Das TSBW weist im Hinblick auf diese Art von Barriere seinen Mitarbeitenden eine besondere Aufgabe zu. Sie sollen mit ihrer Arbeit eine respektvolle Einstellung gegen&uuml;ber den Rechten
            von Menschen mit Behinderungen f&ouml;rdern. Dies steht auch in direktem Zusammenhang mit dem gemeinsamen zentralen Ziel der UN-BRK und des TSBW, der &bdquo;Inklusion&ldquo;. Alle Menschen sind in ihrer Verschiedenheit gleich und haben die gleichen
            Rechte.</p>

          <p>F&uuml;r das gesamte berufliche Leistungsangebot des TSBW stehen den Auszubildenden moderne Werkst&auml;tten und B&uuml;ros zur Verf&uuml;gung. Bez&uuml;glich der Behinderung der Teilnehmenden wird nach den neuesten Entwicklungen der Lernmethodik
            gearbeitet. Die Ausstattung entspricht in allen Bereichen den Anforderungen moderner Wirtschaftsunternehmen. F&uuml;r Schulungen, Seminare und F&ouml;rderunterrichte aller Art stehen &uuml;berall auf dem Gel&auml;nde moderne Schulungsr&auml;ume
            unterschiedlicher Gr&ouml;&szlig;e zur Verf&uuml;gung. Alle Schulungsr&auml;ume befinden sich in unmittelbarer N&auml;he zum Arbeitsplatz und verf&uuml;gen &uuml;ber eine umfangreiche Ausstattung wie z.B. Beamer, Flipchart, Whiteboard und PC. Die
            praktischen und theoretischen Unterweisungen erfolgen w&auml;hrend der gesamten Ausbildung durch Mitarbeiter, die &uuml;ber eine qualifizierte berufliche Kompetenz verf&uuml;gen. Alle Mitarbeiter werden regelm&auml;&szlig;ig fachlich und
            reha-p&auml;dagogisch weitergebildet. Eine hervorragende praxisbezogene Qualifizierung bietet den Teilnehmern zus&auml;tzlich auch die &bdquo;Verzahnte Ausbildung mit BBW (VAmB)&ldquo;. F&uuml;r eine ausgezeichnete Vermittlungsrate halten hier,
            ebenso wie f&uuml;r die sp&auml;tere Vermittlung auf den 1. Arbeitsmarkt, die Mitarbeitenden pers&ouml;nliche Kontakte zur den Betrieben in Schleswig-Holstein, Hamburg und anderen Regionen. Die Teilnehmenden erhalten im Vorfeld eine individuelle, auf
            die betrieblichen Anforderungen zugeschnittene Vorbereitung auf diese praktischen Phasen.</p>

          <p>Artikel 19 der UN-BRK verpflichtet, die Wahlm&ouml;glichkeiten der Menschen mit Behinderungen zu vergr&ouml;&szlig;ern. Das Wohnmodell des TSBW erm&ouml;glicht den Teilnehmenden die Wahl, wo und mit wem sie wohnen wollen. F&uuml;r die
            Unterbringung der ausw&auml;rtigen Teilnehmer stehen in einem Wohnstufenmodell unterschiedliche Wohnm&ouml;glichkeiten zur Verf&uuml;gung. Es gibt mehrere Internatsgeb&auml;ude auf dem Gel&auml;nde. Zus&auml;tzlich gibt es am Standort Husum und an
            anderen Orten ebenfalls Angebote f&uuml;r Wohngruppen, Trainingswohnungen, Einzelwohnungen oder Wohngemeinschaften. Auch hier ist die jeweils notwendige Betreuung durch Sozialp&auml;dagogen gew&auml;hrleistet. Das TSBW bietet somit der UN-BRK
            entsprechend, breit gef&auml;cherte Wahlm&ouml;glichkeiten und f&uuml;r jede Behinderungsart und Entwicklungsreife ein geeignetes Umfeld.</p>

          <p>Allen Teilnehmern steht auf Wunsch in Pausen und in der Freizeit ein breit gef&auml;chertes Angebot an Sport- und Freizeitaktivit&auml;ten zur Verf&uuml;gung. In den Campus integriert befindet sich ein Freizeithaus, eine Schwimmhalle,
            Sportpl&auml;tze sowie ein Sport- und Therapiegeb&auml;ude.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
