{% extends 'inc/layout.main.twig' %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-center">Kontakt</h3>
        <p>Ansprechpartner</p>
        <p>
          <span class="glyphicon glyphicon-user"></span>
          Fr. Mustermann</p>
        <p>
          <span class="glyphicon glyphicon-map-marker"></span>
          Siemensstraße 20, 25813 Husum</p>
        <p>
          <span class="glyphicon glyphicon-phone"></span>
          Phone: +49 123-45</p>
        <p>
          <span class="glyphicon glyphicon-envelope"></span>
          Email: mail@mail.com</p>
      </div>
      <div class="col-md-8">
        <h3 class="text-center">Impressum</h3>
        <p>
          Anbieter gem. § 5 TMG / § 55 RStV<br>
          Diakonie-Hilfswerk Schleswig-Holstein
        </p>
        <p>
          Aalborgstraße 61<br>
          24768 Rendsburg<br>
          T 0 43 31 | 1 25 - 0<br>
          F 0 43 31 | 1 25 - 2599<br>
          E-Mail: websites@ngd.de<br>
          Bitte beachten Sie, dass Sie über diese E-Mail-Adresse nicht direkt unsere jeweilige Einrichtung erreichen.<br>
          Web: www.ngd.de
        </p>
        <p>
          Rechtsform: Kirchliche Körperschaft des öffentlichen Rechts/Sondervermögen der Evangelisch-Lutherischen Kirche in Norddeutschland<br>
          Sitz der Gesellschaft: Rendsburg<br>
          Registergericht: --<br>
          Registernummer: --<br>
          Geschäftsführer: Georg Kallsen
        </p>
        <p>
          Umsatzsteuer-Identifikationsnummer: DE182810747
        </p>
      </div>
    </div>
  </div>
{% endblock %}
