{% extends 'inc/layout.main.twig' %}

{% block content %}
  <div class="container content-font">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Kulinarisches</h1>
        <div class="site-divider"></div>
        <p>Hier ist noch nichts</p>
      </div>
    </div>
  </div>
{% endblock %}
