{% include "layout.header.twig" %}

<div class="container">
{% block content %} {% endblock %}
</div>

<div class="container">
{% block notice %}
{% endblock %}
</div>

{% include "layout.footer.twig" %}
