<footer>
  <p>Ein Angebot des <strong><a href="http://www.tsbw.de">TSBW Husum</a></strong></p>

  <nav>
    <a href="#">Datenschutz</a>
    <a href="#">Impressum</a>
  </nav>

</footer>
</body>
</html>
