{% extends 'inc/layout.shop.twig' %}
{% block content %}
  <div class="col-sm-12">
{% for i in 0..10 %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- <div class="well"> -->
            <div class="product">
              <div class="product-item">
                <h4>$obj->product_name {{ i }}</h4>
                <div class="product-thumb"><img class="product-img-thumb" src="http://placehold.it/{{ i }}50x100"></div>
                <div class="product-quantity">Warenbestand: {{ i }}</div>
                <div class="product-desc block-with-text"><p>Ipsum aliqua labore et veniam voluptate consequat laboris consectetur tempor veniam dolor ipsum non cupidatat reprehenderit.
                   Sit incididunt cupidatat nostrud consectetur minim velit nostrud.
                   Sit officia occaecat qui nulla laboris sit est incididunt dolor adipisicing.
                   Officia pariatur veniam cupidatat aliquip do quis nostrud minim deserunt ex irure deserunt fugiat consequat eu occaecat occaecat.</p></div>
                <div class="product-info">Preis:<del>19,99Euro</del><ins>9,99Euro</ins>!</div>
              </div>
            </div>
        <!-- </div> -->
    </div>
{% endfor %}

{% for product in products if product.status == 1  %}
    <div class="col-sm-6 col-md-4 col-lg-3">
        <!-- <div class="well"> -->
            <div class="product">
              <div class="product-item">
                {{ product.name }}
              </div>
            </div>
        <!-- </div> -->
    </div>
{% endfor %}


  </div>
{% endblock %}
