{% extends 'inc/layout.main.twig' %}

{% block padding %}{% endblock %}

{% block content %}

  {% include "content/intro.twig" %}

  <div class="container content-section text-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class='site-divider'></div>
        <h3>Im Schnüsterwinkel kann man entspannt bummeln, neue Lieblingsteile entdecken oder sich einfach nur inspirieren lassen.<br>Kommt schnüstern!</h3>
        <div class='site-divider'></div>
      </div>
    </div>
  </div>

  {% include "content/zeitung.info.twig" %}

{% endblock %}
