{% extends 'inc/layout.main.twig' %}

{% block padding %}{% endblock %}

{% block content %}

  {% include "content/intro.twig" %}

  {% include "content/zeitung.info.twig" %}

  <div class="container content-font">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <div class='site-divider'></div>
        <p>Im Schnüsterwinkel kann man entspannt bummeln, neue Lieblingsteile entdecken oder sich einfach nur inspirieren lassen. Kommt schnüstern!</p>
      </div>
    </div>
  </div>

{% endblock %}
