{% extends 'inc/layout.main.twig' %}

{% block content %}

      <form class="form-signin" action="{{ path_for('auth.login') }}" method="post">
        <h2 class="form-signin-heading">Login</h2>
        <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" name="email" id="email" class="form-control" placeholder="Max@Mustermann.de" value="{{ old.email }}" required>
        </div>
        <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
        </div>
        {% if errors.failedLogin %}
           <span class="help-block">{{ errors.failedLogin | first }}</span>
        {% endif %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>

        {{ csrf.field | raw }}
      </form>

{% endblock %}
