{% include "inc/layout.header.twig" %}

<div class="container-fluid">
  <div class="row">
    <!-- Left sided nav-bar -->
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <!-- Moeglicherweise als jquery fuer Unterpunkte? -->
        <li class="active"><a href="#">Alle Produkte <span class="sr-only">(current)</span></a></li>
      </ul>
      <ul class="nav nav-sidebar">
        <li><a href="">schleife</a></li>
      </ul>
    </div>
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      {% include "inc/layout.flash.twig" %}

      {% block content %} {% endblock %}

      {% include "inc/layout.footer.twig" %}
    </div>
  </div>
</div>
