<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">

    <div class="col-lg-8 col-lg-offset-2">
      <h2>Schnüsterwinkel: Ein Laden mit Produkten von Auszubildenden</h2>
      <p>
        <b>HUSUM</b>
        Um ein wenig zu schnüstern (Stöbern auf Plattdeutsch) lohnt sich ein Besuch im "Schnüsterwinkel", dem neuen Verkaufsladen des Theodor-Schäfer-Berufsbildungswerks (TSBW). Die Waren "made by TSBW" gibt es in der Siemensstraße 20.</p>
      <p>"Dank der hervorragenden Zusammenarbeit mit verschiedenen Abteilungen unseres Hauses können wir tolle Artikel anbieten, die mit Einfallsreichtum, Liebe zum Detail und großem handwerklichen Geschick entstanden sind", freut sich Birgit Lützen,
        Ausbilderin in der kaufmännischen Abteilung.</p>
      <figure>
        <img src="../images/fix/zeitung-bild.jpg" alt="Bild aus Zeitung">
        <figcaption>
          <b>Freuen sich, dass</b>
          sie ein vielfältiges Angebot präsentieren können: Andrea Hennrich (links) und Birgit Lützen. Angehende Raumausstatter und Schauwerbegestalter haben den Verkaufsraum hergerichtet.</figcaption>
      </figure>
      <p>Die Näherei steuert Schürzen und Taschen bei, Yogakissen mit auswechselbaren Bezügen, Flaschenbeute, Loops oder so originelle wie gesunde Sitzwürfel, die die Nutzer in eine angenehm aufrechte und rückenschonende Sitzposition bringen. Und wer hat
        schon handgemachte Boxershorts im Schrank? Klapphocker, Stufentritte, Arbeitsböcke und Ablagen für mehr Ordnung auf dem Schreibtisch liefert die Tischlerei, und aus der Metallwerkstatt kommen Pflanzenstäbe, Feuerschalen oder besonders geformte
        Kerzenhalter. Im Frühjahr wird das Angebot durch ein Sortiment Pflanzen sowie handgefertigte Grills noch erweitert, kündigt Andrea Jennrich, Umschülerin für Bürokommunikation, an.</p>
      <p>Angebote, die nicht in den Werkstätten des TSBW produziert werden, wie Gewürze, Öle, Glühwein, Bonbons und Zimtsterne ergänzen das bunte Sortiment.</p>
      <p>Eine Gruppe mit kaufmännischen Auszubildenden kümmert sich unter dem Projektnamen "Belebung des TSBW-Shops" um den Wareneinkauf, das Marketing und die Kalkulation.</p>
    </div>

  </div>
</section>
